/* Center the section title */
#about h2 {
  text-align: center;
}

/* Set the profile picture to be rounded and centered on small screens */
#about img {
  display: block;
  margin: 0 auto;
}

/* Add some padding to the paragraphs */
#about p {
  padding-bottom: 1rem;
}

/* Style the "Download Resume" button */
#about a {
  display: inline-block;
  margin-top: 1rem;
  font-size: 1.2rem;
  text-align: center;
  text-decoration: none;
  background-color: #1a202c;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  transition: background-color 0.3s ease-in-out;
}

#about a:hover {
  background-color: #4a5568;
}

#about {
}
.spring {
  /* filter: invert(1) sepia(100%) saturate(10000%) hue-rotate(-110deg); */
  /* color: black; */
}
.bgcover {
  background-image: url("../assets/bg.svg");
}

.bg-hero{
  background-color: #06002E;
}
.bg-slab{
  @apply
  bg-indigo-800 text-red-100 bg-opacity-25
}
.focus-btn{
  @apply
  bg-blue-500 hover:bg-blue-700 text-white
}